/*
 * 1. reset default paddings to allow some content elements to be full-width
 */
body {
  padding-left: 0; /* 1 */
  padding-right: 0; /* 1 */
}

.article-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 960px) 1fr;
}

/*
 * 1. position in center column
 */
.article-wrapper > article {
  grid-column: 2; /* 1 */
}


/*
 * 1. a little bit of explanation:
 *    - in the center we have a column suitable for textual content
 *    - surrounded by a 20px "padding" required on narrow screens
 *    - wrapped by columns taking up the remaining space
 */
article {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr 20px minmax(200px, 700px) 20px 1fr;
}

/*
 * 1. by default all child elements should live in the center column,
 *    see `article` above
 */
article > * {
  grid-column: 3; /* 1 */
}

/*
 * 1. figures should escape the center column and be full-width on
 *    narrow screens
 */
article > figure {
  grid-column: 1 / -1; /* 1 */
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
